@font-face {
  font-family: 'PalomaRegular’;
  src: url('https://cdn.shopify.com/s/files/1/1058/2992/5209/files/Paloma-Regular.woff?v=1789074236) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}